body{
    background: #f4f4f4;
    background-attachment: fixed 
}
.box{
    min-height: calc(100vh - 35vh - 100px);
}

h1, h2, h3, h4, h5{
    font-family: 'Nanum Gothic', 'sans-serif';
    color:#0a349a;
}

p{
    font-family: 'Roboto', 'sans-serif';
}

/*Articulo */
article{
    max-width: 2000px;
    margin: auto;
}
.imagen-art{
    max-width:60%;
    margin: auto;
}
.boxed {
    clear: both;
    margin: 10px 3% 10px 3%;
    font-size: 1.2em;
    text-align: justify;
}    

.art-main{
    text-indent: 2em;
}


.invisible{
    display: none;
}

/*CSS de las cards*/
.indexcard{
    width: 100%;
    border-radius: 10px;
    border: 3px #646262;
    height: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    box-shadow: -14px 16px 39px -14px #27a1c4;

}
.card-header{
    background-color: #fde56c;
}
.card-footer{
    background-color: #8fcee1;
}


.titulopag{
    text-align: center;
    margin:auto;
    padding: 0.5em;
}    

.registro{
    width: 75%;
    margin: 0 auto;
}
/* Tablas de panel admin*/
.panel-a{
    width: 100%;
    vertical-align: top;
    border-top: 5px solid black;
}
.panel-l{
    display: inline-block;
    width: 33%;   
    vertical-align: top;
}
.panel-r{
    display: inline-block;
    width: 65%;
    vertical-align: top;
    border-left: 5px solid black;
}
table{
    display: block;
    height: 300px;
    overflow-y: scroll; 
    overflow-x: scroll;
    width: 100vw;
    text-align: center;
}

td{
    min-width: 100px;
    width: 100%;
}
td:nth-child(1) {
    width: 40%;
}
td:nth-child(2) {
    width: 40%;
}

.tarjetacontacto{
    border: #18786d dashed;
    border-radius: 0.5em;
    justify-content: center;
}
  



header{
    width: 100%;
    height: 35vh;
    min-height: 200px;
    max-height: 600px;
    margin:0;
    background: url('../../static/img/header2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: #1b262c;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: #c9c2c2;
}
.titulo-header{
    text-align: center;
    margin: auto;
    padding-top: 15vh;
}


.imagen-edit{
    width: 300px;
    display: block;
}
.formcard{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(183, 174, 135, 0.5) !important;
}
.alert {
    padding: 20px;
    background-color:#fde56c;
    color: #18786d;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color:#18786d;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 
/* footer*/
footer{
    width: 100%;
    background: #fde56c;
    border-top: 1px solid #b7ae87;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0px 0px 20px #b7ae87;
    height: 75%;
    margin-top:30px;
    max-height: 500px;
}
.left-footer{
    width: 49%;
    background: #fde56c;
    height: 100%;
    display: inline-block;
    max-width: 700px;
    vertical-align: top;

}
.right-footer{
    width: 49%;
    background: #fde56c;
    height: 100%;
    display: inline-block;
    max-width: 700px;
    vertical-align: top;

}
.copyright-footer{
    background-color: #b7ae87;
    height: 100%;
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
}
.icon{
    height: 50px;
    width: 50px;
}
.ul-footer{
    list-style-type: none;
    text-align: center;
}
.a-footer{
    text-decoration: none;
}
@media screen and (max-width: 991px) {

    .titulo-header{
        padding-top: 100px;
    }

    .column {
        width: 48%;
    }
    .left-footer{
        display: block;
        margin:auto;
        width: 100%;
    }
    .right-footer{
        display: block;
        margin:auto;
        width: 100%;
    }
    .panel-l{
        width: 100%;
    } 

    .panel-r{
      
        border-left: none;
        border-top: 5px solid black;
        width: 100%;
    }


}

@media only screen and (max-width: 480px) {
    .column {
      width: 98%;
    }
}   