body{
    background: #f4f4f4;
    background-attachment: fixed
    
}

h1, h2, h3, h4, h5{
    font-family: 'Nanum Gothic', 'sans-serif';
    color:#0a349a;
}

p{
    font-family: 'Roboto', 'sans-serif';
}

/*Articulo */

.boxed {
    clear: both;
    margin: 10px 3% 10px 3%;
    font-size: 1.2em;
    text-align: justify;
}    

.art-main{
    text-indent: 2em;
}

.ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.invisible{
    display: none;
}

/*CSS de las cards*/
.indexcard{
    width: 100%;
    border-radius: 10px;
    border: 3px #646262;
    height: 100%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    box-shadow: -14px 16px 39px -14px #27a1c4;

}
.card-header{
    background-color: #fde56c;
}
.card-footer{
    background-color: #8fcee1;
}


.titulopag{
    text-align: center;
    margin:auto;
    padding: 0.5em;

}    

.registro{
    width: 50%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 35vh;
    min-height: 200px;
    max-height: 600px;
    margin:0;
    background:url(../img/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: #1b262c;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: #c9c2c2;
}
.titulo-header{
    text-align: center;
    margin: auto;
    padding-top: 15vh;
}

footer{
    width: 100%;
    background: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0px 0px 20px gray;
    margin-top:30px;
}

.imagen-edit{
    width: 300px;
    display: block;
}
.formcard{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(183, 174, 135, 0.5) !important;
}
.alert {
    padding: 20px;
    background-color:#fde56c; /* Red */
    color: #18786d;
    margin-bottom: 15px;
}

    /* The close button */
.closebtn {
    margin-left: 15px;
    color:#18786d;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
} 

@media screen and (max-width: 768px) {

    .titulo-header{
        padding-top: 100px;
    }

    .column {
        width: 48%;
      }

}

@media only screen and (max-width: 480px) {
    .column {
      width: 98%;
    }
}   