<footer>
    <div class="left-footer">

        <h3>Tp flask</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit feugiat nisi et tempor. Donec et turpis et arcu volutpat sagittis. Etiam congue ante in metus consectetur vestibulum. Fusce porttitor iaculis leo, a pellentesque tortor finibus vitae. Integer porta sodales nunc id lacinia. Ut consectetur ligula nec condimentum tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec elementum nisi ac augue gravida posuere. Etiam quis ipsum enim. Quisque posuere semper urna vitae euismod. Mauris non fermentum urna, sit amet mollis metus. Aenean ultricies dui ligula. Integer commodo suscipit leo sed tincidunt. Vivamus semper elit et tellus venenatis lobortis.</p>
    </div>
    <div class="right-footer">

        
        <ul>
            <h3>Link del repositorio</h3>
            <li><a target="_blank" href="https://github.com/juanNH/TPCaC2124">Facebook<img class="icon" src="../../static/img/github-brands.svg" alt=""></a></li>
            <h3>redes</h3>
            <li><a target="_blank" href="#">Linkedin<img class="icon" src="../../static/img/linkedin-brands.svg" alt=""></a></li>
            <li><a target="_blank" href="#">Linkedin<img class="icon" src=".../../static/img/linkedin-brands.svg" alt=""></a></li>
        </ul>
    </div>
    <div class="copyright-footer">
        © 2021 Copyright
    </div>
</footer>