<footer>
    <div class="left-footer">
        <h3>Proyecto integrador con Flask</h3>
        <p>
            Creamos una aplicacion web de tipo Blog.
            <br>
            Trabajamos con Html, Css, JavaScript, Python y MySQL
        </p>
    </div>
    <div class="right-footer">  
        
        <ul class="ul-footer">
            <h3>Link del repositorio</h3>
            <li><a class="a-footer" target="_blank" href="https://github.com/juanNH/TPCaC2124">GitHub<img class="icon" src="../../static/img/github-brands.svg" alt=""></a></li>
            <h3>Nos puedes contactar por Linkedin</h3>
            <li><a class="a-footer" target="_blank" href="#">Linkedin<img class="icon" src="../../static/img/linkedin-brands.svg" alt=""></a></li>
            <li><a class="a-footer" target="_blank" href="#">Linkedin<img class="icon" src=".../../static/img/linkedin-brands.svg" alt=""></a></li>
        </ul>
    </div>
    <div class="copyright-footer">
        © 2021 Copyright
    </div>
</footer>