<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for categoria in categorias %}
                <li><a class="dropdown-item" href="{{url_for('index',id_categoria=categoria[0])}}">{{categoria.1}}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% if session.loggedin %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('registro')}}">Crear Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('panel', id_autor=session.id_autor)}}">Panel de administracion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('registrarse')}}">Registrarse</a>
            </li>
          {% endif %}

          <li class="nav-item ">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>