{% extends 'layout.html' %}

{% block title%}
{{articulo.1}}
{{super()}}
{% endblock %}

{% block contenido %}

            <h1 class="text-center">{{articulo.1}}</h1>
            <ul class="list-inline text-center">
                <li class="list-inline-item">{{articulo.7}} |</li>
                <li class="list-inline-item">Categoria |</li>
                <li class="list-inline-item">{{articulo.5}}</li>
            </ul> 
            <div class="art-main boxed">
            <img src="uploads/{{articulo.6}}" alt="imagen relacionada con el art" style="max-width: 100%; height: auto;">
            <br>
            <br>
            <p>{{articulo.2}}</p>
        </div>
</div>
{% endblock %}