{% extends 'layout.html' %}

{% block title%}
{{articulo.1}}
{{super()}}
{% endblock %}

{% block contenido %}
<article>
            <h1 class="text-center">{{articulo.1}}</h1>
            <ul class="list-inline text-center">
                <li class="list-inline-item">{{articulo.7}} |</li>
                <li class="list-inline-item">{{catDict[articulo.3]}} |</li>
                <li class="list-inline-item">{{articulo.5}}</li>
            </ul> 
            <div class="boxed">
            <div>    
            <img src="uploads/{{articulo.6}}" alt="imagen relacionada con el art" style="width: 100%; height: auto;">
            </div>
            <br>
            <br>
            <p class="art-main">{{articulo.2}}</p>
            </div>
</article>
{% endblock %}