{% extends 'layout.html' %}
{% block title%}
Contacto
{{super()}}
{% endblock %}

{% block contenido %}
<div class="registro">
<form action="/contacto_validacion" method="POST" enctype="multipart/form-data">
<div>
    <div class="mb-3">
        <label for="contact-email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="contact-email" name="contact-email" placeholder="nombre@ejemplo.com">
    </div>
    <div class="mb-3">
        <label for="contact-asunto" class="form-label">Asunto</label>
        <input type="text" class="form-control" id="contact-asunto" name="contact-asunto" placeholder="Asunto">
      </div>
    <div class="mb-3">
        <label for="contact-text" class="form-label">Cuentanos:</label>
        <textarea class="form-control" id="contact-text"  name="contact-text" rows="3"></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</div>
</form>
</div>
{% endblock %}