{% extends 'layout.html' %}

{% block title%}
Editar
{{super()}}
{% endblock %}

{% block contenido %}

    <form action="/editar_articulo/{{id_autor}}" method="POST" enctype="multipart/form-data">
        
        <input class="form-control invisible" type="text"  aria-label="default input example" name="id_articulo" value="{{id_articulo.0}}">


        <label for="exampleFormControlTextarea1" class="form-label">Titulo:</label>
        <input class="form-control" type="text" placeholder="Ingrese titulo" aria-label="default input example" name="titulo" value="{{id_articulo.1}}" required>



        <label for="exampleFormControlTextarea1" class="form-label">Categorias:</label>
        <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" name="id_categoria">
                <option selected value="{{id_articulo.3}}">{{id_articulo.6}}</option>
                {% for categoria in categorias %}
                    {% if categoria.0 == id_articulo.3  %}
                    {% else %}
                        <option value="{{categoria.0}}">{{categoria.1}}</option>  
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label  class="form-label">Imagen actual del articulo: </label>
            <img  src="{{ url_for('uploads', nombreFoto=id_articulo.7)}}" class="img-thumbnail imagen-edit" alt="Imagen">
            <br> 
        </div>
        
        <div class="mb-3">
            <label for="imagen" class="form-label">Nueva imagen: </label>
            <input class="form-control" type="file" id="formFile" name='imagen' value="{{id_articulo.7}}">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Articulo:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="contenido" required>{{id_articulo.2}}</textarea>
        </div>
        <input type="submit" class="btn btn-success" value="Editar">
    </form> 


{% endblock %}