{% extends 'layout.html' %}

{% block title%}
Inicio
{{super()}}
{% endblock %}

{% block contenido %}

    {{session.correo}}    
    {{session.id_autor}} 
    {{session.loggedin}}

    {% if msg == None %}
    
    {% else %}
        {{msg}}
    {% endif %}
    {% for articulo in articulos %}
    <div class="container">
        <div class="row">
            <div class="col-12">  
                <div class="articulo">
                    <a href="{{url_for('articulo', id_articulo = articulo.0)}}">
                        <div class="card">        
                            <img src="uploads/{{articulo.7}}" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h5 class="card-title">{{catDict[articulo.3]}}</h5>
                                <p class="card-text">{{articulo.1}}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <p>Publicado el: {{articulo.5}}</p>
                            </div>   
                        </div>
                    </a>
                </div>
            </div>  
            <div class="col-4">

            </div>
        </div>    
    </div>

    {% endfor %}


{% endblock %}