{% extends 'layout.html' %}

{% block title%}
Login
{{super()}}
{% endblock %}

{% block contenido %}
    <h2>Login</h2>  
        {% if msg %}
            <h3>{{msg}}</h3>
        {% endif %}
        <form action="/verificar" method="POST" enctype="multipart/form-data">
        
        
            <label for="exampleFormControlTextarea1" class="form-label">Ingrese email:</label>
            <input class="form-control" type="email" placeholder="Ingrese su correo" aria-label="default input example" name="correo" required>
    
    
            <label for="exampleFormControlTextarea1" class="form-label">Password:</label>
            <input class="form-control" type="password" placeholder="Ingrese su password" aria-label="default input example" name="password" required>


              <input type="submit" class="btn btn-success" value="Logear">
        </form> 
{% endblock %}