{% extends 'layout.html' %}

{% block title%}
Registrarse
{{super()}}
{% endblock %}    
{% block contenido %}
<div class="registro">
    <div>
    <h2 class="titulopag">Registro</h2>        
    <form action="/registrarse_validacion" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-auto">    
            <label for="nombre" class="form-label">Nombre:</label>
            <input id="nombre" class="form-control" type="text" placeholder="Ingrese su nombre" aria-label="default input example" name="nombre" required>
        </div>
        <div class="col-auto">
            <label for="apellido" class="form-label">Apellido:</label>
            <input id="apellido" class="form-control" type="text" placeholder="Ingrese su apellido" aria-label="default input example" name="apellido" required>
        </div>   
    </div>
    <div class="row">
        <div class="col-auto">     
            <label for="exampleFormControlTextarea1" class="form-label">Correo:</label>
            <input class="form-control" type="email" placeholder="Ingrese su correo" aria-label="default input example" name="correo" required>   
        </div>
    </div>
    <div class="row"> 
        <div class="col-auto">   
            <label for="exampleFormControlTextarea1" class="form-label">Contraseña:</label>
            <input class="form-control" type="password" placeholder="Ingrese su contraseña" aria-label="default input example" name="password" required>
        </div>  
        <div class="col-auto">
            <label for="exampleFormControlTextarea1" class="form-label">Repita su contraseña:</label>
            <input class="form-control" type="password" placeholder="Ingrese nuevamente" aria-label="default input example" name="password2" required>
        </div>
    </div>
    {% with messages = get_flashed_messages()%}
    {% if messages%}
        {% for message in messages %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
             {{message}} 
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    

    
</div>
<input type="submit" class="btn btn-success" value="Registrarse" style="margin-top: 2em">
</div>   

    
</form> 

{% endblock %}